<section class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="about-us__content">
                    <div class="about-us__content_title">
                        <h2>БІЛЬШЕ ПРО НАС</h2>
                    </div>
                    <div class="about-us__content_descript">
                        <p>Заклад громадського харчування, що спеціалізується на приготуванні піци. Кухар, який виготовляє піцу, називається піцайоло. </p>
                    </div>
                </div>
            </div>
            <div class="col-8">

            </div>
        </div>
    </div>

</section>