<section class="our__pizza">
   <div class="pizza__title">
      <h2>НАША ПІЦЦА:</h2>
   </div>

   <div class="container">
      <div class="row d-flex">
         <div class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="pizza__card">
               <div class="pizza__items">
                  <img src="./img/our-pizza/himars.png" alt="pizza">
                  <div class="info__top">
                     <div class="pizza__info">
                        <p class="pizza__weight">530 г</p>
                        <p class="pizza__size">30 см</p>
                     </div>
                     <button class="pizza__favourite">
                        <img src="./img/our-pizza/red-favourite.svg" alt="like">
                     </button>
                  </div>
                  <div class="card__title">
                     <h3>Хаймарс</h3>
                  </div>
                  <div class="items__hover">
                     <h3 class="title__hover">Хаймарс</h3>
                     <p class="describe__hover">Перетерті томати, моцарела, пікантні баклажани, мариновані за домашнім
                        італійським рецептом, пікантна салямі пепероні та пармезан. Алергени: злаки, лактоза.
                     </p>
                  </div>
               </div>
               <div class="pizza__buy">
                  <div class="pizza__counter">
                     <div class="items__control">-</div>
                     <div class="items__current">1</div>
                     <div class="items__control">+</div>
                  </div>
                  <button class="buy__btn">
                     в корзину
                  </button>
                  <div class="pizza__price">
                     <p>225 грн</p>
                  </div>
               </div>
            </div>
         </div>

         <div class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="pizza__card">
               <div class="pizza__items">
                  <img src="./img/our-pizza/himars.png" alt="pizza">
                  <div class="info__top">
                     <div class="pizza__info">
                        <p class="pizza__weight">530 г</p>
                        <p class="pizza__size">30 см</p>
                     </div>
                     <button class="pizza__favourite">
                        <img src="./img/our-pizza/red-favourite.svg" alt="like">
                     </button>
                  </div>
                  <div class="card__title">
                     <h3>Хаймарс</h3>
                  </div>
                  <div class="items__hover">
                     <h3 class="title__hover">Хаймарс</h3>
                     <p class="describe__hover">Перетерті томати, моцарела, пікантні баклажани, мариновані за домашнім
                        італійським рецептом, пікантна салямі пепероні та пармезан. Алергени: злаки, лактоза.
                     </p>
                  </div>
               </div>
               <div class="pizza__buy">
                  <div class="pizza__counter">
                     <div class="items__control">-</div>
                     <div class="items__current">1</div>
                     <div class="items__control">+</div>
                  </div>
                  <button class="buy__btn">
                     в корзину
                  </button>
                  <div class="pizza__price">
                     <p>225 грн</p>
                  </div>
               </div>
            </div>
         </div>

         <div class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="pizza__card">
               <div class="pizza__items">
                  <img src="./img/our-pizza/himars.png" alt="pizza">
                  <div class="info__top">
                     <div class="pizza__info">
                        <p class="pizza__weight">530 г</p>
                        <p class="pizza__size">30 см</p>
                     </div>
                     <button class="pizza__favourite">
                        <img src="./img/our-pizza/red-favourite.svg" alt="like">
                     </button>
                  </div>
                  <div class="card__title">
                     <h3>Хаймарс</h3>
                  </div>
                  <div class="items__hover">
                     <h3 class="title__hover">Хаймарс</h3>
                     <p class="describe__hover">Перетерті томати, моцарела, пікантні баклажани, мариновані за домашнім
                        італійським рецептом, пікантна салямі пепероні та пармезан. Алергени: злаки, лактоза.
                     </p>
                  </div>
               </div>
               <div class="pizza__buy">
                  <div class="pizza__counter">
                     <div class="items__control">-</div>
                     <div class="items__current">1</div>
                     <div class="items__control">+</div>
                  </div>
                  <button class="buy__btn">
                     в корзину
                  </button>
                  <div class="pizza__price">
                     <p>225 грн</p>
                  </div>
               </div>
            </div>
         </div>

         <div class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="pizza__card">
               <div class="pizza__items">
                  <img src="./img/our-pizza/himars.png" alt="pizza">
                  <div class="info__top">
                     <div class="pizza__info">
                        <p class="pizza__weight">530 г</p>
                        <p class="pizza__size">30 см</p>
                     </div>
                     <button class="pizza__favourite">
                        <img src="./img/our-pizza/red-favourite.svg" alt="like">
                     </button>
                  </div>
                  <div class="card__title">
                     <h3>Хаймарс</h3>
                  </div>
                  <div class="items__hover">
                     <h3 class="title__hover">Хаймарс</h3>
                     <p class="describe__hover">Перетерті томати, моцарела, пікантні баклажани, мариновані за домашнім
                        італійським рецептом, пікантна салямі пепероні та пармезан. Алергени: злаки, лактоза.
                     </p>
                  </div>
               </div>
               <div class="pizza__buy">
                  <div class="pizza__counter">
                     <div class="items__control">-</div>
                     <div class="items__current">1</div>
                     <div class="items__control">+</div>
                  </div>
                  <button class="buy__btn">
                     в корзину
                  </button>
                  <div class="pizza__price">
                     <p>225 грн</p>
                  </div>
               </div>
            </div>
         </div>

         <div class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="pizza__card">
               <div class="pizza__items">
                  <img src="./img/our-pizza/himars.png" alt="pizza">
                  <div class="info__top">
                     <div class="pizza__info">
                        <p class="pizza__weight">530 г</p>
                        <p class="pizza__size">30 см</p>
                     </div>
                     <button class="pizza__favourite">
                        <img src="./img/our-pizza/red-favourite.svg" alt="like">
                     </button>
                  </div>
                  <div class="card__title">
                     <h3>Хаймарс</h3>
                  </div>
                  <div class="items__hover">
                     <h3 class="title__hover">Хаймарс</h3>
                     <p class="describe__hover">Перетерті томати, моцарела, пікантні баклажани, мариновані за домашнім
                        італійським рецептом, пікантна салямі пепероні та пармезан. Алергени: злаки, лактоза.
                     </p>
                  </div>
               </div>
               <div class="pizza__buy">
                  <div class="pizza__counter">
                     <div class="items__control">-</div>
                     <div class="items__current">1</div>
                     <div class="items__control">+</div>
                  </div>
                  <button class="buy__btn">
                     в корзину
                  </button>
                  <div class="pizza__price">
                     <p>225 грн</p>
                  </div>
               </div>
            </div>
         </div>

         <div class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="pizza__card">
               <div class="pizza__items">
                  <img src="./img/our-pizza/himars.png" alt="pizza">
                  <div class="info__top">
                     <div class="pizza__info">
                        <p class="pizza__weight">530 г</p>
                        <p class="pizza__size">30 см</p>
                     </div>
                     <button class="pizza__favourite">
                        <img src="./img/our-pizza/red-favourite.svg" alt="like">
                     </button>
                  </div>
                  <div class="card__title">
                     <h3>Хаймарс</h3>
                  </div>
                  <div class="items__hover">
                     <h3 class="title__hover">Хаймарс</h3>
                     <p class="describe__hover">Перетерті томати, моцарела, пікантні баклажани, мариновані за домашнім
                        італійським рецептом, пікантна салямі пепероні та пармезан. Алергени: злаки, лактоза.
                     </p>
                  </div>
               </div>
               <div class="pizza__buy">
                  <div class="pizza__counter">
                     <div class="items__control">-</div>
                     <div class="items__current">1</div>
                     <div class="items__control">+</div>
                  </div>
                  <button class="buy__btn">
                     в корзину
                  </button>
                  <div class="pizza__price">
                     <p>225 грн</p>
                  </div>
               </div>
            </div>
         </div>

         <div class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="pizza__card">
               <div class="pizza__items">
                  <img src="./img/our-pizza/himars.png" alt="pizza">
                  <div class="info__top">
                     <div class="pizza__info">
                        <p class="pizza__weight">530 г</p>
                        <p class="pizza__size">30 см</p>
                     </div>
                     <button class="pizza__favourite">
                        <img src="./img/our-pizza/red-favourite.svg" alt="like">
                     </button>
                  </div>
                  <div class="card__title">
                     <h3>Хаймарс</h3>
                  </div>
                  <div class="items__hover">
                     <h3 class="title__hover">Хаймарс</h3>
                     <p class="describe__hover">Перетерті томати, моцарела, пікантні баклажани, мариновані за домашнім
                        італійським рецептом, пікантна салямі пепероні та пармезан. Алергени: злаки, лактоза.
                     </p>
                  </div>
               </div>
               <div class="pizza__buy">
                  <div class="pizza__counter">
                     <div class="items__control">-</div>
                     <div class="items__current">1</div>
                     <div class="items__control">+</div>
                  </div>
                  <button class="buy__btn">
                     в корзину
                  </button>
                  <div class="pizza__price">
                     <p>225 грн</p>
                  </div>
               </div>
            </div>
         </div>

         <div class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="pizza__card">
               <div class="pizza__items">
                  <img src="./img/our-pizza/himars.png" alt="pizza">
                  <div class="info__top">
                     <div class="pizza__info">
                        <p class="pizza__weight">530 г</p>
                        <p class="pizza__size">30 см</p>
                     </div>
                     <button class="pizza__favourite">
                        <img src="./img/our-pizza/red-favourite.svg" alt="like">
                     </button>
                  </div>
                  <div class="card__title">
                     <h3>Хаймарс</h3>
                  </div>
                  <div class="items__hover">
                     <h3 class="title__hover">Хаймарс</h3>
                     <p class="describe__hover">Перетерті томати, моцарела, пікантні баклажани, мариновані за домашнім
                        італійським рецептом, пікантна салямі пепероні та пармезан. Алергени: злаки, лактоза.
                     </p>
                  </div>
               </div>
               <div class="pizza__buy">
                  <div class="pizza__counter">
                     <div class="items__control">-</div>
                     <div class="items__current">1</div>
                     <div class="items__control">+</div>
                  </div>
                  <button class="buy__btn">
                     в корзину
                  </button>
                  <div class="pizza__price">
                     <p>225 грн</p>
                  </div>
               </div>
            </div>
         </div>

         <div class="col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="pizza__card">
               <div class="pizza__items">
                  <img src="./img/our-pizza/himars.png" alt="pizza">
                  <div class="info__top">
                     <div class="pizza__info">
                        <p class="pizza__weight">530 г</p>
                        <p class="pizza__size">30 см</p>
                     </div>
                     <button class="pizza__favourite">
                        <img src="./img/our-pizza/red-favourite.svg" alt="like">
                     </button>
                  </div>
                  <div class="card__title">
                     <h3>Хаймарс</h3>
                  </div>
                  <div class="items__hover">
                     <h3 class="title__hover">Хаймарс</h3>
                     <p class="describe__hover">Перетерті томати, моцарела, пікантні баклажани, мариновані за домашнім
                        італійським рецептом, пікантна салямі пепероні та пармезан. Алергени: злаки, лактоза.
                     </p>
                  </div>
               </div>
               <div class="pizza__buy">
                  <div class="pizza__counter">
                     <div class="items__control">-</div>
                     <div class="items__current">1</div>
                     <div class="items__control">+</div>
                  </div>
                  <button class="buy__btn">
                     в корзину
                  </button>
                  <div class="pizza__price">
                     <p>225 грн</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>