<section class="our__pizza">
   <div class="pizza__title">
      <h2>НАША ПІЦЦА:</h2>
   </div>
   <div class="container">
      <div class="row">
         <div class="col-12">
            <div class="pizza__card">
               <div class="pizza__info">
                  <div class="pizza__size">

                  </div>
                  <div class="pizza__favourite">
                     <img src="" alt="">
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>