<section class="top__menu">
   <div class="container">
      <div class="row">
         <div class="col-12 d-flex align-items-center justify-content-between">

            <div class="col-4 col-sm-5 col-md-4 col-lg-10">
               <div class="menu__left">
                  <div class="menu__location">
                     <a href="#">
                        <img src="./img/top-menu/location.svg" alt="location">
                        м. Борислав, вул. Дрогобицька 7, ТЦ Олімп
                     </a>
                  </div>
                  <div class="menu__time">
                     <div class="time__img">
                        <img src="./img/top-menu/time.svg" alt="time">
                     </div>
                     <p>Час роботи піцерії</p>
                     <img src="./img/top-menu/drop-arrow.svg" alt="arrow">
                  </div>
                  <div class="menu__phone">
                     <a href="tel: +380 99 999 99 99">
                        <img src="./img/top-menu/phone.svg" alt="phone">
                        +380 99 999 99 99
                     </a>
                  </div>
               </div>

               <div class="mobile__menu">

                  <ul class="burger__menu" style="background-image: url(./img/header/mobile_bg.png);">

                     <li>
                        <a href="#">Про нас</a>
                     </li>
                     <li>
                        <a href="#">Контакти</a>
                     </li>
                     <li>
                        <a href="#">Доставка</a>
                     </li>
                     <li>
                        <a href="#">Меню</a>
                     </li>
                     <li>
                        <a href="tel: +380 99 999 99 99">
                           +380 99 999 99 99
                        </a>
                     </li>
                     <li>
                        <a href="#">
                           Час роботи піцерії
                        </a>
                     </li>
                     <li>
                        <a href="#">
                           м. Борислав, вул. Дрогобицька 7, ТЦ Олімп
                        </a>
                     </li>
                  </ul>
                  <div class="burger">
                     <span></span>
                  </div>

               </div>

            </div>


            <div class="mobile__logo col-4 col-sm-2 col-md-4">
               <img src="./img/header/header-logo.png" alt="logo">
            </div>


            <div class="col-4 col-sm-5 col-md-4 col-lg-2">
               <div class="menu__right">

                  <div id="favModal" class="fav__modal">
                     <div class="fav__container">
                        <div class="fav__content">
                           <h2>Улюблені:</h2>

                        </div>
                        <button class="close__favourite">
                           <img src="./img/top-menu/btnClose.svg" alt="close">
                        </button>
                     </div>
                  </div>

                  <button id="favOpen" class="menu__favourite">
                     <img src="./img/top-menu/heart-icon.svg" alt="favourite">
                     <div class="favourite__amount">0</div>
                  </button>

                  <div class="menu__border"></div>

                  <div id="cartModal" class="cart__modal">
                     <div class="cart__container">
                        <div class="cart__content">
                           <h2>Ваше замовлення:</h2>
                        </div>

                        <button class="close__cart">
                           <img src="./img/top-menu/btnClose.svg" alt="close">
                        </button>
                     </div>
                  </div>

                  <button id="cartOpen" class="menu__basket">
                     <img src="./img/top-menu/basket-icon.svg" alt="basket">
                     <div class="basket__amount">0</div>
                  </button>
                  <div class="count__price">0 грн</div>
               </div>
            </div>

         </div>
      </div>
   </div>
</section>