<section class="top__menu">
   <div class="container">
      <div class="row">
         <div class="col-12 d-flex">
            <div class="col-10">
               <div class="menu__left">
                  <div class="menu__location">
                     <a href="#">
                        <img src="./img/top-menu/location.svg" alt="location">
                        м. Борислав, вул. Дрогобицька 7, ТЦ Олімп
                     </a>
                  </div>
                  <div class="menu__time">
                     <div class="time__img">
                        <img src="./img/top-menu/time.svg" alt="time">
                     </div>
                     <p>Час роботи піцерії</p>
                     <img src="./img/top-menu/drop-arrow.svg" alt="arrow">
                  </div>
                  <div class="menu__phone">
                     <a href="tel: +380 99 999 99 99">
                        <img src="./img/top-menu/phone.svg" alt="phone">
                        +380 99 999 99 99
                     </a>
                  </div>
               </div>

               <div class="mobile__menu">
                  <div class="mobile__logo">
                     <img src="./img/header/header-logo.png" alt="logo">
                  </div>
               </div>
            </div>
            <div class="col-2">
               <div class="menu__right">
                  <button class="menu__favourite">
                     <img src="./img/top-menu/heart-icon.svg" alt="favourite">
                     <div class="favourite__amount">0</div>
                  </button>
                  <div class="menu__border"></div>
                  <button class="menu__basket">
                     <img src="./img/top-menu/basket-icon.svg" alt="basket">
                     <div class="basket__amount">0</div>
                  </button>
                  <div class="count__price">0 грн</div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>