.top__menu {
   background-color: #000;
   // @media screen and (max-width: 767px) {
   //    display: none;
   // }
   .menu__left {
      padding: 18px 0;
      display: flex;
      gap: 40px;
      @media screen and (max-width: 991px) {
         display: none;
      }
      .menu__location {
         max-width: 182px;
         width: 100%;
         a {
            font-family: $var5;
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 13px;
            display: flex;
            align-items: center;
            text-align: center;
            color: $var1;
         }
      }
      .menu__time {
         display: flex;
         align-items: center;
         justify-content: space-between;
         max-width: 154px;
         width: 100%;
         .time__img {
            max-width: 12px;
            max-height: 15px;
         }
         p {
            font-family: $var5;
            font-style: normal;
            font-weight: 900;
            font-size: 13px;
            line-height: 13px;
            display: flex;
            align-items: center;
            text-align: center;
            color: $var1;
         }
      }
      .menu__phone {
         max-width: 198px;
         width: 100%;
         a {
            font-family: $var5;
            font-style: normal;
            font-weight: 900;
            font-size: 13px;
            line-height: 13px;
            display: flex;
            align-items: center;
            color: $var1;
            img {
               padding-right: 10px;
            }
         }
      }
   }

   .mobile__menu {
      display: none;
      @media screen and (max-width: 991px) {
         display: block;
      }
      .mobile__logo {
      }
   }

   .menu__right {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: end;
      .menu__favourite {
         background: none;
         border: none;
         position: relative;
         .favourite__amount {
            position: absolute;
            background: $var2;
            border-radius: 16px;
            padding: 2px 4px;
            font-family: $var5;
            font-weight: 700;
            font-size: 11px;
            line-height: 12px;
            color: $var1;
            top: -10px;
            right: 0;
         }
      }
      .menu__border {
         width: 1px;
         height: 30px;
         margin: 0 18px;
         background: rgba(241, 241, 241, 0.2);
      }
      .menu__basket {
         background: none;
         border: none;
         position: relative;
         .basket__amount {
            position: absolute;
            background: $var2;
            border-radius: 16px;
            padding: 2px 4px;
            font-family: $var5;
            font-weight: 700;
            font-size: 11px;
            line-height: 12px;
            color: $var1;
            top: -6px;
            right: 0;
         }
      }
   }
   .count__price {
      font-family: $var5;
      font-weight: 900;
      font-size: 14px;
      line-height: 14px;
      color: $var1;
      padding-left: 6px;
   }
}
